.main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    &__navbar {
        grid-column: 1 / 5;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        &__brand {
            grid-column: 1 / 4;
        }
        &__links {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__news {
        grid-column: 1 / 4;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__sidebar {
        grid-column: 4 / 5;
    }

    &__footer {
        grid-column: 1 / 5;
    }
}